In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import sklearn.ensemble as sens
import sklearn.model_selection as ssel
import sklearn.preprocessing as spre
import sklearn.metrics as smet

In [27]:
data_raw = pd.read_csv('HR_Case.csv', index_col=0, true_values=['Yes'], false_values=['No'])
data_raw.head().T

,1,2,4,5,7
Age,41,49,37,33,27
Attrition,True,False,True,False,False
BusinessTravel,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Frequently,Travel_Rarely
DailyRate,1102,279,1373,1392,591
Department,Sales,Research_Development,Research_Development,Research_Development,Research_Development
DistanceFromHome,1,8,2,3,2
Education,College,Below_College,College,Master,Below_College
EducationField,Life_Sciences,Life_Sciences,Other,Life_Sciences,Medical
EnvironmentSatisfaction,Medium,High,Very_High,Very_High,Low
Gender,Female,Male,Male,Female,Male
HourlyRate,94,61,92,56,40
JobInvolvement,High,Medium,Medium,High,High
JobLevel,2,2,1,1,1
JobRole,Sales_Executive,Research_Scientist,Laboratory_Technician,Research_Scientist,Laboratory_Technician
JobSatisfaction,Very_High,Medium,High,High,Medium
MaritalStatus,Single,Married,Single,Married,Married
MonthlyIncome,5993,5130,2090,2909,3468
MonthlyRate,19479,24907,2396,23159,16632
NumCompaniesWorked,8,1,6,1,9
OverTime,True,False,True,True,False
PercentSalaryHike,11,23,15,11,12
PerformanceRating,Excellent,Outstanding,Excellent,Excellent,Excellent
RelationshipSatisfaction,Low,Very_High,Medium,High,Very_High
StockOptionLevel,0,1,0,0,1
TotalWorkingYears,8,10,7,8,6
TrainingTimesLastYear,0,3,3,3,3
WorkLifeBalance,Bad,Better,Better,Better,Better
YearsAtCompany,6,10,0,8,2
YearsInCurrentRole,4,7,0,7,2
YearsSinceLastPromotion,0,1,0,3,2
YearsWithCurrManager,5,7,0,0,2

# Question 1
Examine and discuss significant employee attributes that contribute to employee attrition. Elaborate on these findings to offer insights into the factors influencing employee decisions and departure from the organization.

In [25]:
data = data_raw.copy(deep=True)

# To identify significant employee attributes, we start by encoding all categorical values: 
label_encoders = {} # We will fit a dedicated label encoder for each column
for column in data.select_dtypes(include=['object']).columns:
    le = spre.LabelEncoder()
    data[column] = le.fit_transform(data[column])
    label_encoders[column] = le

# Split target and features: 
x = data

In [23]:
data

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1,41,True,2,1102,2,1,2,1,2,0,...,0,1,0,8,0,0,6,4,0,5
2,49,False,1,279,1,8,1,1,0,1,...,1,3,1,10,3,2,10,7,1,7
4,37,True,2,1373,1,2,2,4,3,1,...,0,2,0,7,3,2,0,0,0,0
5,33,False,1,1392,1,3,4,1,3,0,...,0,0,0,8,3,2,8,7,3,0
7,27,False,2,591,1,2,1,3,1,1,...,0,3,1,6,3,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2061,36,False,1,884,1,23,2,3,0,1,...,0,0,1,17,3,2,5,2,0,3
2062,39,False,2,613,1,6,1,3,3,1,...,0,1,1,9,5,2,7,7,1,7
2064,27,False,2,155,1,4,0,1,2,1,...,1,2,1,6,0,2,6,2,0,3
2065,49,False,1,1023,2,2,0,3,3,1,...,0,3,0,17,3,3,9,6,0,8
2068,34,False,2,628,1,8,0,3,2,1,...,0,1,0,6,3,1,4,3,1,2

# Question 2
Assuming that the average cost of replacing an employee is around 6 times that employee’s monthly salary, what is the cost of employee attrition for IBM given the provided dataset?

In [14]:
data[data.Attrition == True]

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1,41,True,Travel_Rarely,1102,Sales,1,College,Life_Sciences,Medium,Female,...,Excellent,Low,0,8,0,Bad,6,4,0,5
4,37,True,Travel_Rarely,1373,Research_Development,2,College,Other,Very_High,Male,...,Excellent,Medium,0,7,3,Better,0,0,0,0
19,28,True,Travel_Rarely,103,Research_Development,24,Bachelor,Life_Sciences,High,Male,...,Excellent,Medium,0,6,4,Better,4,2,0,3
27,36,True,Travel_Rarely,1218,Sales,9,Master,Life_Sciences,High,Male,...,Outstanding,Medium,0,10,4,Better,5,3,0,3
31,34,True,Travel_Rarely,699,Research_Development,6,Below_College,Medical,Medium,Male,...,Excellent,High,0,8,2,Better,4,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,23,True,Travel_Frequently,638,Sales,9,Bachelor,Marketing,Very_High,Male,...,Excellent,Low,1,1,3,Good,1,0,1,0
2027,29,True,Travel_Rarely,1092,Research_Development,1,Master,Medical,Low,Male,...,Excellent,Medium,3,4,3,Best,2,2,2,2
2032,56,True,Travel_Rarely,310,Research_Development,7,College,Technical_Degree,Very_High,Male,...,Excellent,Very_High,1,14,4,Bad,10,9,9,8
2044,50,True,Travel_Frequently,878,Sales,1,Master,Life_Sciences,Medium,Male,...,Excellent,Very_High,2,12,3,Better,6,3,0,1
2055,50,True,Travel_Rarely,410,Sales,28,Bachelor,Marketing,Very_High,Male,...,Excellent,Medium,1,20,3,Better,3,2,2,0